*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}
#uy{
    height: 95px;
    background-color: #ffffff;
}
#uy .header{
    width: 100%;
    height: 100%;
}
body{
    background-image: url(../images/body_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.header h3{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 200;
    color: #524f4f;
}
.header a{
    text-decoration: none;
}
.header span{
    color: #007BFF;
}

/* navbar */
nav{
    width: 100%;
    z-index: 3;
    position: fixed;
}
.navbar{
    background-color: #007BFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.navbar ul {
    list-style: none;
    margin-bottom: 0;
}
.navbar ul li{
    background-color: #007BFF;
    width: 220px;
    border: 1px solid #007BFF;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    color: white;
    font-size: 19px;
}
.navbar ul li a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
}
.navbar ul li:hover{
    background-color: #085b81;
}
.navbar ul ul{
    display: none;
}
.navbar ul li:hover > ul{
    display: block;
}
/* navbar end */
#demo{
    margin-top: 50px !important;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    width: 45px;
    height: 45px;
}
.carousel-control-prev, .carousel-control-next{
    transition: all 1s ease;
    width: 100px;
}
.carousel-control-prev:hover{
    background-color: rgba(156, 156, 156, 0.4);
}
.carousel-control-next:hover{
    background-color: rgba(156, 156, 156, 0.4);
}

/* Footer ************/
#footer{
    background-color: #363636;
    min-height: 37vh; 
}
#footer a{
    color: white;
    text-decoration: none;
    line-height: 25px;
}
#footer .nav ul{
    padding-left: 70px;
}
#footer .nav ul li{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    border-bottom: 1px solid #cccccc;
    border-width: 100%;
}
#footer .nav ul li a{
    padding: 10px 0 10px 0;
}
#footer a:hover{
    color: #007bff;
}

.copyright-text{
    font-size: 18px;
    color: #ffffff;
    background-color: #202020;
    text-align: center;
    padding: 20px 0;
}
/* Footer end ************/

.climb{
    font-size: 35px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #4fd1e2;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
    text-decoration: none;
}
.climb:hover{
    text-decoration: none;
    color: #ffffff;
}