.topnav {
    overflow: hidden;
    background-color: #007bff;
    width: 100%;
    padding: 8px 0;
    display: none;
}
.topnav .navbar{
    width: 100%;
    margin: 0 auto;
    display: block;
    flex-wrap: wrap;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:not(:last-child) {
    width: 45%;
}

.topnav a:hover {
    background-color: #0076ad;
    color: #fff;
}


.topnav .icon {
    display: none;
}

@media (min-width: 768.9px) and (max-width: 991px) {
    html,body{
        overflow-x: hidden;
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav{
        width: 100%;
        display: block;
    }
    iframe{
        height: 380px;
    }
    #uy{
        display: none;
    }
    .title-text h1{
        font-size: 50px;
    }
    .card{
        width: 33rem !important;
        margin: 10px auto;
    }
    .copyright-text,
    .card-body p,
     h5,
      a{
        font-size:25px !important;
    }
    .news-bottom ul li{
        font-size: 25px !important;
        margin-bottom: 20px !important;
    }
}



@media (min-width: 701px) and (max-width: 768px) {
    html,body{
        overflow-x: hidden;
    }
    body{
        background-image: url(../images/body_2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav{
        width: 100%;
        display: block;
    }
    iframe{
        height: 350px;
    }
    #uy{
        display: none;
    }
    .title-text h1{
        font-size: 48px;
    }
    .card{
        width: 28rem !important;
        margin: 10px auto;
    }
    .copyright-text,
    .card-body p,
     h5,
      a{
        font-size:20px !important;
    }
    .news-bottom ul li{
        font-size: 23px !important;
        margin-bottom: 20px !important;
    }
    .climb{
        font-size: 22px;
        width: 60px;
        height: 60px;
        bottom: 45px;
        right: 35px;
    }
}

@media (min-width: 601px) and (max-width: 700.9px) {
    html,body{
        overflow-x: hidden;
    }
    body{
        background-image: url(../images/body_2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav{
        width: 100%;
        display: block;
    }
    iframe{
        height: 300px;
    }
    #uy{
        display: none;
    }
    .title-text h1{
        font-size: 45px;
    }
    .card{
        width: 28rem !important;
        margin: 10px auto;
    }
    .copyright-text,
    .card-body p,
     h5,
      a{
        font-size:20px !important;
    }
    .news-bottom ul li{
        font-size: 23px !important;
        margin-bottom: 20px !important;
    }
    .climb{
        font-size: 22px;
        width: 60px;
        height: 60px;
        bottom: 45px;
        right: 35px;
    }
}


@media (min-width: 501px) and (max-width: 600.9px) {
    html,body{
        overflow-x: hidden;
    }
    body{
        background-image: url(../images/body_2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav{
        width: 100%;
        display: block;
    }
    #uy{
        display: none;
    }
    .title-text h1{
        font-size: 38px;
    }
    .card{
        width: 26rem !important;
        margin: 10px auto;
    }
    iframe{
        height: 280px;
    }
    .copyright-text,
    .card-body p,
     h5,
      a{
        font-size:20px !important;
    }
    .news-bottom ul li{
        font-size: 20px !important;
        margin-bottom: 20px !important;
    }
    .climb{
        font-size: 22px;
        width: 55px;
        height: 55px;
        bottom: 45px;
        right: 35px;
    }
    
}


@media (min-width: 401px) and (max-width: 500.9px) {
    html,body{
        overflow-x: hidden;
    }
    body{
        background-image: url(../images/body_2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav{
        width: 100%;
        display: block;
    }
    #uy{
        display: none;
    }
    .title-text h1{
        font-size: 35px !important;
    }
    .card{
        width: 22rem !important;
        margin: 10px auto !important;
    }
    iframe{
        height: 250px;
    }
    .copyright-text,
    .card-body p,
     h5,
      a{
        font-size:18px !important;
    }
    .news-bottom ul li{
        font-size: 20px !important;
        margin-bottom: 20px !important;
    }
    .climb{
        font-size: 20px;
        width: 50px;
        height: 50px;
        bottom: 45px;
        right: 30px;
    }  
}


@media (min-width: 321px) and (max-width: 400.9px) {
    html,body{
        overflow-x: hidden;
    }
    body{
        background-image: url(../images/body_2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav{
        width: 100%;
        display: block;
    }
    #uy{
        display: none;
    }
    .title-text h1{
        font-size: 35px !important;
    }
    .card{
        width: 18rem !important;
        margin: 10px auto !important;
    }
    iframe{
        height: 240px;
    }
    .copyright-text,
    .card-body p,
     h5,
      a{
        font-size:19px !important;
    }
    .news-bottom ul li{
        font-size: 18px !important;
        margin-bottom: 20px !important;
    }
    .climb{
        font-size: 18px;
        width: 50px;
        height: 50px;
        bottom: 45px;
        right: 30px;
    }
}

@media screen and (max-width: 320.9px) {
    html,body{
        overflow-x: hidden;
    }
    body{
        background-image: none;
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav{
        width: 100%;
        display: block;
    }
    #uy{
        display: none;
    }
    .title-text h1{
        font-size: 32px !important;
    }
    .card{
        width: 18rem !important;
        margin: 10px auto;
    }
    iframe{
        height: 220px;
    }
    .copyright-text,
    .card-body p,
     h5,
      a{
        font-size:18px !important;
    }
    .news-bottom ul li{
        font-size: 17px !important;
        margin-bottom: 20px !important;
    }
    .climb{
        font-size: 18px;
        width: 50px;
        height: 50px;
        bottom: 45px;
        right: 30px;
    }
}